<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Staffs Status</title>
    <link rel="icon" type="image/x-icon" href="public/logo.jpg" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="home.css" />
    </head>
    <style>
      .user-profile {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        overflow: hidden;
      }
     
      @keyframes slideDown {
        0% {
          transform: scaleY(0);
        }
      }
     
      .skeleton-loading {
        display: grid;
        grid-template-columns: 1fr;
      }
      .skeleton {
        width: 100%;
        animation: skeleton 0.3s ease infinite;
        position: relative;
        margin: 5px;
      }
      .skeleton::before {
        width: 100%;
        height: 100%;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(
          110deg,
          #ececec 8%,
          #eaeaea 18%,
          #e4e4e4 33%
        );
        border-radius: 5px;
        background-size: 200% 100%;
        animation: 1.5s shine linear infinite;
      }
      .dp.skeleton {
        width: 60px;
        height: 60px;
      }
      @keyframes shine {
        to {
          background-position-x: -200%;
        }
      }

      @media screen and (min-width: 730px) {
        .facultys__list {
          display: grid;
          grid-template-columns: 1fr 1fr;
        }
        .icons {
          width: 25%;
        }
        .skeleton-loading {
          display: grid;
          grid-template-columns: 1fr 1fr;
        }
      }
      @media screen and (min-width: 1023px) {
        .facultys__list {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
        }
        .skeleton-loading {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
        }
      }
      .no-content {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        font-size: 20px;
        margin-top: 50px;
        text-align: center;
      }
      .fa-hands-holding-child {
        margin: 0px 5px 0px 5px;
      }
      .container{
        overflow: hidden;
      }
      .tabs {
        width: 100%;
        overflow-x: auto;

        flex-grow: 1;
        height: 30px;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;
  
      }
      .tabs::-webkit-scrollbar {
        display: none;
      }

      .tabs .tab_bar div {
        width: 90px;
        font-weight: 600;

        height: 100%;
        font-family: inherit;
        font-size: 18px;
        text-align: center;
        color: white;
        transition: all .3s ease;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 7px;
      }
      .tabs .tab_bar div.active {
        animation: sliderotate .3s ease;
        border-bottom: 4px solid #ffffff;
      }
      .tabs .tab_bar div.active i{
       animation: branchlogo .8s ease ;
      }
      @keyframes sliderotate {
        0%{
          transform: translateY(50px);
        }
      }
      @keyframes branchlogo {
        0%{
          transform: translateY(-50px);
        }
      
       
      }
      
      .tab_bar {
        width: fit-content;

        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
      }
      .homepage.ani{
        overflow: hidden;
        transition: all 3s ease;
        animation:swipeX .3s ease;
      }
      @keyframes swipeX {
        0%{
          transform:translateX(250px);
         
        }
      }
      .homepage{
        overflow: hidden;
        transition: all 3s ease;
        animation:swipeY .3s ease;
      }
      .homepage.index{
        animation: none
      }
     
      @keyframes swipeY {
        0%{
          transform:translateX(-250px);
         
        }
      }
      .container{
        position: relative;
      }
      header{
        position: fixed !important;
        width: 100%;
      }
      .homepage{
        margin-top: 80px;
      }
      .bar i,.theme i{
        font-size: 20px;
      }
     
    </style>
  <body>
    <div class="container home">
      <header>
        <div class="title">
          <h3><i class="fa-solid fa-hands-holding-child"></i> Staffs Status</h3>
          <div class="icons">
            <div class="theme">
              <i class="fa-solid fa-moon" style="color: #ffffff"></i>

              <i class="fa-solid fa-sun" style="color: #ffffff"></i>
            </div>

            <div class="bar">
              <i class="fa-solid fa-bars menu" style="color: #ffffff"></i>
              <i
                class="fa-solid fa-xmark close hide"
                style="color: #ffffff"
              ></i>
            </div>
          </div>
        </div>
        <div class="options hide">
          <ul>
            <a href="/myaccount">
              <li>
                <i class="fa-solid fa-user"></i>
                My Account
              </li></a
            >
            <a href="/dashboard"
              ><li><i class="fa-solid fa-chart-simple"></i> Dashboard</li></a
            >

            <a href="?gender=male"
              ><li><i class="fa-solid fa-mars"></i> Male Staffs</li></a
            >
            <a href="?gender=female"
              ><li><i class="fa-solid fa-venus"></i> Female Staffs</li></a
            >

            <a href="/logout"
              ><li>
                <i class="fa-solid fa-right-from-bracket"></i>
                Logout
              </li></a
            >
          </ul>
        </div>
        <!-- <div class="search__bar">
          <input type="text" placeholder="Search Staffs" class="search" />
        </div> -->
       
        <div class="tabs">
          <div class="tab_bar">
            <div class="active">ALL</div>
            <div> <i class="fa-solid fa-microchip"></i><p>ECE</p></div>
            <div> <i class="fa-solid fa-code"></i><p>CSE</p></div>
            <div><i class="fa-solid fa-plug" ></i><p>EEE</p></div>
            <div> <i class="fa-solid fa-gear" ></i><p>MECH</p></div>
            <div><i class="fa-solid fa-house-chimney" ></i><p>CIVIL</p></div>
            <div><i class="fa-solid fa-laptop-code"></i><p>IT</p></div>
            <div> <i class="fa-regular fa-folder-open"></i><p>AIDS</p></div>
            <div>  <i class="fa-solid fa-user"></i><p>AIML</p></div>
            <div> <i class="fa-brands fa-figma"></i><p>CSD</p></div>
            <div><i class="fa-solid fa-robot"></i><p>MCT</p></div>
            <div> <i class="fa-solid fa-wave-square"></i><p>BME</p></div>
            <div> <i class="fa-solid fa-shirt"></i><p>FT</p></div>
          </div>
        </div>
      </header>
      <div class="homepage index">
        <div class="skeleton-loading"></div>
        <div class="facultys__list">
          <%if(locals.staffs.length>=1){%> <% staffs.forEach(staff =>{ %>
          <a href="/overview/<%=staff._id%>">
            <div class="profile">
              <div class="dp">
                <img src="uploads/<%=staff.image%>" alt="<%=staff.name%> img" />
              </div>
              <div class="details">
                <h4 class="faculty__name"><%=staff.name%></h4>
                <p class="faculty__details">
                  <%=staff.position%> in <%=staff.department%>
                </p>
              </div>
            </div>
          </a>
          <% }) %> <%}else{%>
          <div class="no-content">
            <p>Staffs Not Avaliable.!</p>
          </div>
          <%}%>
        </div>
      </div>

      <div class="homepage">
        <div class="skeleton-loading"></div>
        <div class="ECE_facultys__list"></div>
      </div>
      <div class="homepage">
        <div class="skeleton-loading"></div>
        <div class="CSE_facultys__list"></div>
      </div>
      <div class="homepage">
        <div class="skeleton-loading"></div>
        <div class="EEE_facultys__list"></div>
      </div>
      <div class="homepage">
        <div class="skeleton-loading"></div>
        <div class="MECH_facultys__list"></div>
      </div>
      <div class="homepage">
        <div class="skeleton-loading"></div>
        <div class="CIVIL_facultys__list"></div>
      </div>
      <div class="homepage">
        <div class="skeleton-loading"></div>
        <div class="IT_facultys__list"></div>
      </div>
      <div class="homepage">
        <div class="skeleton-loading"></div>
        <div class="AIDS_facultys__list"></div>
      </div>
      <div class="homepage">
        <div class="skeleton-loading"></div>
        <div class="AIML_facultys__list"></div>
      </div>
      <div class="homepage">
        <div class="skeleton-loading"></div>
        <div class="CSD_facultys__list"></div>
      </div>
       <div class="homepage">
        <div class="skeleton-loading"></div>
        <div class="MCT_facultys__list"></div>
      </div>
      <div class="homepage">
        <div class="skeleton-loading"></div>
        <div class="BME_facultys__list"></div>
      </div>
      <div class="homepage">
        <div class="skeleton-loading"></div>
        <div class="FT_facultys__list"></div>
      </div>
     

    <script type="module" src="home.js"></script>
    <script>
      let loading = document.querySelector(".skeleton-loading");
      let mainContent = document.querySelector(".facultys__list");
      mainContent.style.visibility = "hidden";
      document.addEventListener("DOMContentLoaded", () => {
        loading.style.display = "none";
        mainContent.style.visibility = "visible";
      });
      

      //Skeleton Loading effect

      let template = `
<a href="">
  <div class="profile">
    <div class="dp skeleton">
      <img src="" alt="" class=""/>
    </div>
    <div class="details">
      <h4 class="faculty__name skeleton">Sona College</h4>
      <p class="faculty__details skeleton">Assistance professor in cse</p>
    </div>
  </div>
</a>`;

      for (let i = 0; i < 21; i++) {
        loading.innerHTML += template;
      }
    </script>

    <script>
      let index = 0
      let branches = document.querySelectorAll(".tabs .tab_bar div");
      let pages = document.querySelectorAll(".homepage");
  
     function b(){
      branches.forEach((branch) => {
       
          nextdept(branch)
         
       
      });
     }
      function nextdept(dept) {
        branches.forEach((branch) => branch.classList.remove("active"));
        showdept(index)
        branches[index].classList.add("active");
         if(index>3){
          for(let i=0;i<3;i++){
            branches[i].style.display = 'none'
          }
        }else{
          for(let i=0;i<3;i++){
            branches[i].style.display = 'flex'
          }
        }
        if(index>6){
          for(let i=0;i<6;i++){
            branches[i].style.display = 'none'
          }
        }
        if(index>3 && index<6){
          for(let i=3;i<6;i++){
            branches[i].style.display = 'flex'
          }
        }
        if(index>9){
          for(let i=0;i<9;i++){
            branches[i].style.display = 'none'
          }
        }
        if(index>6 && index<9){
          for(let i=6;i<9;i++){
            branches[i].style.display = 'flex'
          }
        }
       
        
      }
       
      function showdept(index){
        pages.forEach(page =>{
          page.classList.add('hide')
          pages[index].classList.remove('hide')
          
         
        })
      }
      let startX, startY, moveX;
    
    document.addEventListener("touchstart", (e) => {
      startX = e.touches[0].clientX;
      startY = e.touches[0].clientY;
    });
    document.addEventListener("touchmove", (e) => {
      moveX = e.touches[0].clientX;
    });

    document.addEventListener("touchend", () => {
      if (startX + 100 < moveX) {
        
        
        index=index>0?--index:0
        pages[index].classList.remove('ani')
       b()
      } else if (startX - 100 > moveX) {
       
       
        
        index= index<14?++index:13
        pages[index].classList.add('ani')
        b()
       
      }
    });
      let departments = ['ECE','CSE','EEE','MECH','CIVIL','IT','AIDS','AIML','CSD','MCT','BME','FT']
      departments.forEach(dept =>{
        loadStaffs(dept)
      })

      async function loadStaffs(dept){
        let req = await fetch(`/api/v1/staffs/${dept}`);
        let res = await req.json()
        
      
        if(res.message =="success" && res.result>0){
          let staffs = res.staffs
          staffs.forEach(staff =>{
            let template = `
            <a href="/overview/${staff._id}">
              <div class="profile">
                <div class="dp">
                  <img src="/uploads/${staff.image}" alt="${staff.name} img" />
                </div>
                <div class="details">
                  <h4 class="faculty__name">${staff.name}</h4>
                  <p class="faculty__details">
                    ${staff.position} in ${staff.department}
                  </p>
                </div>
              </div>
            </a>
            `
            document.querySelector(`.homepage .${dept}_facultys__list`).innerHTML+=template;
          })
        } else{
          document.querySelector(`.homepage .${dept}_facultys__list`).innerHTML='<center style="margin-top :50px"><large>Staffs not avaliable</large></center>';
        }
       }
    
    </script>
  </body>
</html>
