<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
      user-scalable="no"
    />
    <title></title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        user-select: none;
        font-family: "Poppins", "sanserif";
      }
      img {
        pointer-events: none;
        user-select: none;
        -webkit-user-drag: none;
      }
      :root {
        --primary: #f2f2f2ed;
      }
      body {
        height: 100vh;

        background-color: rgb(255, 255, 255);
        padding: 10px;
      }
      .container {
        overflow: hidden;
        background-color: #ffffff;
        margin-top: 60px;
        position: relative;
        padding-left: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 30px;
        animation: up 0.5s ease;
      }
      a {
        text-decoration: none;
        color: black;
        width: 100%;
        height: 70px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 15px;
        padding-left: 15px;
        border-bottom: 1px solid rgb(195, 195, 195);
      }
      p {
        font-size: 17px;
        font-weight: 600;
      }
      .container a i {
        font-size: 25px;
        color: #8c8c8c;
      }
      section {
        display: flex;
        flex-direction: column;
        gap: 2px;
      }

      @keyframes rotate {
        0% {
          transform: scale(3) rotate(360deg);
          background: linear-gradient(
            to bottom left,
            rgb(4, 79, 241),
            rgb(54, 231, 166),
            rgb(132, 0, 247)
          );
        }
      }

      @keyframes up {
        0% {
          opacity: 0;
          transform: translateY(200px);
        }
      }
      a:hover {
        background-color: rgb(240, 240, 240);
      }
      .input-box-name,
      .input-box-password,
      .input-box-wapp,
      .input-box-phone,
      .input-box-location,
      .input-box-desigation {
        width: 100%;
        height: 100vh;
        background-color: rgb(255, 255, 255);
        display: none;
        justify-content: center;
        align-items: center;
      }

      .box-body {
        font-size: 18px;
        padding: 20px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        position: absolute;
        background-color: rgb(229, 229, 229) !important;
        top: 0px;
        left: 0;
        z-index: 1;
        border-radius: 5px;
      }
      .input-box-name.show .box-body,
      .input-box-location.show .box-body,
      .input-box-desigation.show .box-body,
      .input-box-password.show .box-body,
      .input-box-wapp.show .box-body,
      .input-box-phone.show .box-body {
        animation: down 0.5s ease;
      }

      @keyframes down {
        0% {
          opacity: 0;
          transform: translateY(-200px);
        }
      }
      .box-body .input {
        display: flex;
        flex-direction: column;
        gap: 15px;
      }
      .box-body .input input {
        height: 50px;
        padding-left: 10px;
        border: none;
        width: 100%;
        font-size: 20px;
        font-weight: 500;
      }
      input:focus {
        outline: none;
      }
      .btns {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
      }
      .btns button {
        width: 100%;
        height: 50px;
        border-radius: 5px;
        font-weight: 600;
        font-size: 16px;
        border: none;
        background-color: #fff;
      }

      .input-box-name.show,
      .input-box-password.show,
      .input-box-wapp.show,
      .input-box-phone.show,
      .input-box-location.show,
      .input-box-desigation.show {
        display: flex;
      }
      .input-box-name.show + .input-box-password + main,
      .input-box-password.show + main {
        display: none;
      }
      .icons-input {
        background-color: #ffffff;
        border: 1px solid groove;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        width: 100%;
        padding-left: 15px;
      }
      .icons-input i {
        font-size: inherit;
      }
      main {
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
      }
      .fa-angle-right {
        position: absolute;
        right: 25px;
        color: #a6a6a6 !important;
      }
      header {
        position: absolute;
        top: 0;
        color: #ffffff;
        left: 0;
        height: 50dvh;
        width: 100%;
        padding-left: 10px;
        background: linear-gradient(
          to bottom left,
          rgb(255, 183, 0),
          rgb(239, 0, 247)
        );
        border-radius: 0px 0px 30px 30px;
        display: flex;
        justify-content: flex-start;
        animation: down 0.3s ease;
      }

      .profile {
        width: 50px;
        height: 50px;
        overflow: hidden;
        border-radius: 50%;
      }
      img {
        width: 100%;
        filter: saturate(0) brightness(0.9) invert(0);
        animation: rotate 0.5s ease;
      }
      .head-body {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 67px;
        gap: 5px;
      }
      body {
        position: relative;
      }

      .msg-container {
        width: 100%;
        display: flex;

        justify-content: center;
        align-items: center;

        position: absolute;
        bottom: 50px;
        padding: 10px;
        gap: 10px;
        left: 0;
        animation: msg 1s ease;
        overflow: hidden;
      }
      .msg-container .msg-body {
        background-color: aqua;
        display: inline-block;
        padding: 15px 20px;
        border-radius: 10px;
      }
      .msg-container i {
        font-size: 25px;
      }
      @keyframes msg {
        0% {
          opacity: 0;
          transform: translateY(150px);
        }
      }
      .msg-container.hide {
        display: none;
      }
      .delete-conformation.show {
        display: flex;
      }
      .delete-conformation.show + main {
        visibility: hidden;
        overflow: hidden;
      }
      body.reduceHeight .container {
        height: 90vh;
        overflow: hidden;
      }
      .delete-conformation {
        display: none;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 100%;
        left: 0;
        height: 100%;
        background-color: #ffffff;
        text-align: center;
        z-index: 1;
        top: -100px;
        overflow: hidden;
        transform: all 0.3s ease;
        animation: up 0.3s ease alternate;
      }

      .delete-conformation .top {
        width: 150px;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        animation: shake 1s ease infinite alternate;
        transform-origin: bottom;
      }
      @keyframes shake {
        0% {
          transform: scale(1.07);
        }
        100% {
          transform: scale(1);
        }
      }

      .delete-conformation .top img {
        filter: none;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        animation: none;
      }
      .delete-body {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
      .conf-btns {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        width: 100%;
        padding: 25px 10px 10px 10px;
        gap: 15px;
      }
      .conf-btns button {
        width: 100%;
        height: 55px;
        border-radius: 5px;
        font-size: 18px;
        font-weight: 700;
        border: none;
      }
      .conf-btns button:active,
      .conf-btns button:hover {
        transform: scale(0.98);
      }
      .confirm-msg p {
        font-weight: normal;
      }
      .okay-delete {
        color: #ffffff;
        background-color: red;
      }
      .cancel-delete {
        color: #ffffff;
        background-color: orange;
      }
    </style>
  </head>
  <body>
    <header>
      <div class="head-body">
        <div class="profile">
          <img src="/gear.png" alt="" />
        </div>
        <h2>Settings</h2>
      </div>
    </header>
    <div class="container">
      <div class="input-box-name box-container">
        <div class="box-body">
          <div class="input">
            <label for="name">Enter your name</label>
            <div class="icons-input">
              <i class="fa-solid fa-user"></i>
              <input type="text" id="name" value="<%=staff.name%>" />
            </div>
          </div>
          <div class="btns">
            <button class="discard">Discard</button>
            <button class="save-name-btn" data-staff-Id="<%=staff._id%>">
              Save
            </button>
          </div>
        </div>
      </div>
      <div class="input-box-password box-container">
        <div class="box-body">
          <div class="input">
            <label for="password">Enter your old Password</label>
            <input type="text" id="password" />
          </div>
          <div class="input">
            <label for="name">New Password</label>
            <input type="text" id="name" />
          </div>
          <div class="input">
            <label for="name">Confirm Password</label>
            <input type="text" id="name" />
          </div>
          <div class="btns">
            <button class="discard">Discard</button>
            <button>Save</button>
          </div>
        </div>
      </div>
      <div class="input-box-wapp box-container">
        <div class="box-body">
          <div class="input">
            <label for="wapp">Enter your whatsapp number</label>
            <div class="icons-input">
              <i class="fa-brands fa-whatsapp"></i>
              <input type="tell" id="wapp" />
            </div>
          </div>
          <div class="btns">
            <button class="discard">Discard</button>
            <button class="wapp-no-save-btn" data-staff-Id="<%=staff._id%>">
              Save
            </button>
          </div>
        </div>
      </div>
      <div class="input-box-phone box-container">
        <div class="box-body">
          <div class="input">
            <label for="phone">Enter your Phone number</label>
            <div class="icons-input">
              <i class="fa-solid fa-phone-volume"></i>
              <input type="tell" id="phone" />
            </div>
          </div>
          <div class="btns">
            <button class="discard">Discard</button>
            <button class="phone-no-save-btn" data-staff-Id="<%=staff._id%>">
              Save
            </button>
          </div>
        </div>
      </div>
      <div class="input-box-location box-container">
        <div class="box-body">
          <div class="input">
            <label for="loactionbox">Enter your Location</label>
            <div class="icons-input">
              <i class="fa-solid fa-location-dot"></i>
              <input type="text" id="locationbox" value="<%=staff.location%>" />
            </div>
          </div>
          <div class="btns">
            <button class="discard">Discard</button>
            <button class="save-location-btn" data-staff-Id="<%=staff._id%>">
              Save
            </button>
          </div>
        </div>
      </div>
      <div class="input-box-desigation box-container">
        <div class="box-body">
          <div class="input">
            <label for="desigation">Enter your Desigation</label>
            <div class="icons-input">
              <i class="fa-solid fa-user"></i>
              <input type="text" id="desigation" value="<%=staff.position%>" />
            </div>
          </div>
          <div class="btns">
            <button class="discard">Discard</button>
            <button class="save-desigation-btn" data-staff-Id="<%=staff._id%>">
              Save
            </button>
          </div>
        </div>
      </div>
      <div class="delete-conformation">
        <div class="delete-body">
          <div class="top">
            <img src="./deleteIcon.png" alt="" />
          </div>
          <div class="confirm-msg">
            <h2>Are You Sure?</h2>
            <p>
              Do you want't to delete your account ? Your accout can't be
              restore
            </p>
          </div>
          <div class="conf-btns">
            <button class="cancel-delete">Cancel</button>
            <button data-staff-Id="<%=staff._id%>" class="okay-delete">
              Okay
            </button>
          </div>
        </div>
      </div>
      <main>
        <a id="inputbox">
          <i class="fa-solid fa-user-pen"></i>
          <section>
            <p class="staff-name"><%=staff.name%></p>
            <small>Tap to edit your name.</small>
          </section>

          <i class="fa-solid fa-angle-right"></i>
        </a>
        <a id="change-password">
          <i class="fa-solid fa-lock"></i>
          <section>
            <p>Change Password</p>
            <small>Want to change your password ?</small>
          </section>
          <i class="fa-solid fa-angle-right"></i>
        </a>
        <a id="gender">
          <i class="fa-solid fa-people-group"></i>
          <section>
            <p>Gender</p>
            <small>Tap to correct the gender</small>
          </section>
          <i class="fa-solid fa-angle-right"></i>
        </a>
        <a id="wapp-number">
          <i class="fa-brands fa-whatsapp"></i>
          <section>
            <p>Whatapp Number</p>
            <small class="wapp-number-label"><%=staff.number.whatsappNumber%></small>
          </section>
          <i class="fa-solid fa-angle-right"></i>
        </a>
        <a id="phone-number">
          <i class="fa-solid fa-phone-volume"></i>
          <section>
            <p>Phone Number</p>
            <small class="phone-number-label"><%=staff.number.phoneNumber%></small>
          </section>
          <i class="fa-solid fa-angle-right"></i>
        </a>
        <a id="location">
          <i class="fa-solid fa-location-crosshairs"></i>
          <section>
            <p>Location</p>
            <small>Tap to change your location</small>
          </section>
          <i class="fa-solid fa-angle-right"></i>
        </a>
        <a id="position">
          <i class="fa-solid fa-wand-magic-sparkles"></i>
          <section>
            <p>Desigation</p>
            <small>Tap to change your desigatiion</small>
          </section>
          <i class="fa-solid fa-angle-right"></i>
        </a>
        <a id="branch">
          <i class="fa-solid fa-layer-group"></i>
          <section>
            <p>Department</p>
            <small>Tap to change your Dept</small>
          </section>
          <i class="fa-solid fa-angle-right"></i>
        </a>
        <a href="">
          <i class="fa-solid fa-shield-halved"></i>
          <section>
            <p>Terms & conditions</p>
            <small>Tap to read the terms & conditions</small>
          </section>
          <i class="fa-solid fa-angle-right"></i>
        </a>
        <a id="delete">
          <i class="fa-solid fa-trash-can"></i>
          <section>
            <p>Delete Account</p>
            <small>Permenentaly delete your acccount</small>
          </section>
          <i class="fa-solid fa-angle-right"></i>
        </a>
        <a href="/logout">
          <i class="fa-solid fa-right-from-bracket"></i>
          <section>
            <p>Logout</p>
            <small>Deactivate JWT</small>
          </section>
          <i class="fa-solid fa-angle-right"></i>
        </a>
      </main>
    </div>
    <div class="msg-container hide">
      <div class="msg-body">
        <i class="fa-regular fa-circle-check"></i>
        <b class="msg-box">Successfully Updated.!</b>
      </div>
    </div>
    <script>
      const msgContainer = document.querySelector(".msg-container");
      let editName = document.getElementById("inputbox");
      let changePassword = document.getElementById("change-password");
      let wappNumber = document.getElementById("wapp-number");
      let phoneNumber = document.getElementById("phone-number");
      let locationBox = document.querySelector(".input-box-location");
      let desigationBox = document.querySelector(".input-box-desigation");
      let locationLabel = document.querySelector("#location");
      let position = document.querySelector("#position");
      let inputbox = document.querySelector(".input-box-name");
      let passwordbox = document.querySelector(".input-box-password");
      let wappbox = document.querySelector(".input-box-wapp");
      let phonebox = document.querySelector(".input-box-phone");
      let discard = document.querySelectorAll(".discard");
      const nameSaveBtn = document.querySelector(".save-name-btn");
      const locationSaveBtn = document.querySelector(".save-location-btn");
      const desigationSaveBtn = document.querySelector(".save-desigation-btn");
      const deleteLabel = document.querySelector("#delete");
      const cancelBtn = document.querySelector(".cancel-delete");
      const okayDelBtn = document.querySelector(".okay-delete");
      const deleteMessage = document.querySelector(".delete-conformation");
      const phoneNoSaveBtn = document.querySelector(".phone-no-save-btn");
      const wappNoSaveBtn = document.querySelector(".wapp-no-save-btn");
      const pNoLabel = document.querySelector(".phone-number-label");
      const wappNoLabel = document.querySelector(".wapp-number-label");
      const body = document.querySelector("body");
      editName.addEventListener("click", () => {
        inputbox.classList.add("show");
        let name = document.querySelector("#name");
        name.setSelectionRange(name.value.length, name.value.length);
        name.focus();
      });
      changePassword.addEventListener("click", () => {
        passwordbox.classList.add("show");
        document.querySelector("#password").focus();
      });
      wappNumber.addEventListener("click", () => {
        wappbox.classList.add("show");
      });
      phoneNumber.addEventListener("click", () => {
        phonebox.classList.add("show");
      });
      locationLabel.addEventListener("click", () => {
        locationBox.classList.add("show");
        let inputValue = document.querySelector("#locationbox");
        inputValue.setSelectionRange(
          inputValue.value.length,
          inputValue.value.length
        );
        inputValue.focus();
      });
      position.addEventListener("click", () => {
        desigationBox.classList.add("show");
        let inputValue = document.querySelector("#desigation");
        inputValue.setSelectionRange(
          inputValue.value.length,
          inputValue.value.length
        );
        inputValue.focus();
      });

      discard.forEach((btn, index) => {
        btn.addEventListener("click", () => {
          document
            .querySelectorAll(".box-container")
            [index].classList.remove("show");
        });
      });

      nameSaveBtn.addEventListener("click", () => {
        const name = document.querySelector("#name").value;
        const field = document.querySelector(".staff-name");
        const data = { name };
        update(data, name, nameSaveBtn, field);
      });
      locationSaveBtn.addEventListener("click", () => {
        const locat = document.querySelector("#locationbox").value;
        const data = { location: locat };
        update(data, locat, locationSaveBtn);
      });
      desigationSaveBtn.addEventListener("click", () => {
        const desigation = document.querySelector("#desigation").value;
        const data = { position: desigation };
        update(data, desigation, desigationSaveBtn);
      });

      phoneNoSaveBtn.addEventListener("click", () => {
        const phoneNumber = document.getElementById("phone").value;
        const data = {
          number:{phoneNumber}
        };
        update(data, phoneNumber, phoneNoSaveBtn,pNoLabel);
      });
      wappNoSaveBtn.addEventListener("click", () => {
        const wappNumber = document.getElementById("wapp").value;
        const data = {
          number:{whatsappNumber: wappNumber,}
        };
        update(data, wappNumber, wappNoSaveBtn,wappNoLabel);
      });

      async function update(data, value, saveBtn, field = "") {
        console.log(data);
        let id = saveBtn.dataset.staffId;
        let req = await fetch(`/api/v1/update/${id}`, {
          method: "PATCH",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify(data),
        })
          .then((res) => {
            saveBtn.parentElement.parentElement.parentElement.classList.remove(
              "show"
            );
            if (field !== "") {
              field.innerHTML = value;
            }
            return res.json();
          })
          .then((res) => {
            document.querySelector(".msg-box").innerHTML = res.message;
            msgContainer.classList.remove("hide");
            hideMsg();
          })
          .catch((err) => {
            document.querySelector(".msg-box").innerHTML = err.message;
            msgContainer.classList.remove("hide");
            hideMsg();
          });
      }
    
      function hideMsg() {
        setTimeout(() => {
          msgContainer.classList.add("hide");
        }, 3000);
      }
      deleteLabel.addEventListener("click", () => {
        deleteMessage.classList.add("show");
        body.classList.add("reduceHeight");
      });
      cancelBtn.addEventListener("click", () => {
        deleteMessage.classList.remove("show");
        body.classList.remove("reduceHeight");
      });

      okayDelBtn.addEventListener("click", deleteAccount);
      async function deleteAccount() {
        let staffId = okayDelBtn.dataset.staffId;
        let req = await fetch(`/account/${staffId}`, {
          method: "DELETE",
          headers: { "Content-Type": "application/json" },
        })
          .then((res) => {
            window.location.reload();
            return res.json();
          })
          .catch((err) => {
            return alert(err.message);
          });
      }
    </script>
  </body>
</html>
